
.logOut {
  color: $gray-dark;
  
  .logout-message {
    h2 {
      line-height: 3rem;
      font-size: 2rem;
      text-align: center;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    max-width: 400px;
  }
  // @include flex-center;
  .decoration {
    margin: 50px;
    width: 100%;
    height: 30px;
    background-size: 60%;
  }
  a {
    border: 1px solid $gray-regular;
    padding: 10px 25px;
  }
}