.about-project {
  @include flex-center;
  .container {
    height: 100%;
    width: 100%;
  }
  .three-columns {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../../assets/3\ Columns\ Background.png');
    min-height: 350px;
    height: 30%;
    width: 100%;
    ul {
      width: 100%;
      max-width: 1400px;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    .accomplishment {
      width: 300px;
      text-align: center;
      color: $gray-dark;
    }
    .heading {
      .number {
        font-size: 4rem;
        font-weight: 300;
      }
      .info {
        font-size: 1rem;
        text-transform: uppercase;
        padding: 20px;
      }
    }
    .desc {
      line-height: 1.5rem;
      font-size: 0.75rem;
    }
  }
  .instructions {
    width: 100%;
    .instructions__header {
      width: 100%;
      // background-color: red;
      min-height: 250px;
      @include flex-center;
      flex-direction: column;
      h3 {
        font-size: 2rem;
        padding: 20px;
      }
      .decoration {
        height: 35px;
        width: 40%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../../assets/Decoration.svg);
        // padding: 15px 0 30px 0;
        background-size: 40%;
      }
    }
    .instruction__list {
      min-height: 300px;
      @include flex-center;
      background-color: $gray-light;
      .list__item {
        // border: 1px solid red;
        @include flex-center;
        flex-direction: column;
        width: 200px;
        text-align: center;
      }
      .list__item ~ .list__item {
        margin-left: 150px;
      }
      .heading {
        font-size: 1.15rem;
      }
      .decoration-2 {
        margin: 15px;
        width: 80px;
        border: 1px solid $gray-regular;
      }
      .svg {
        height: 100px;
        width: 100px;
        background-repeat: no-repeat;
        background-position: center;
      }
      .icon-1 {
        background-image: url(../../assets/Icon-1.svg);
      }
      .icon-2 {
        background-image: url(../../assets/Icon-2.svg);
      }
      .icon-3 {
        background-image: url(../../assets/Icon-3.svg);
      }
      .icon-4 {
        background-image: url(../../assets/Icon-4.svg);
      }
    }
    .instructions__link {
      @include flex-center;
      width: 100%;
      min-height: 250px;
      a {
        color: $gray-dark;
        font-weight: 300;
        text-decoration: none;
        border: 1px solid $gray-regular;
        text-transform: uppercase;
        font-size: 1.5rem;
        line-height: 1.85rem;
        padding: 10px 25px;
        display: block;
        text-align: center;
        max-width: 150px;
      }
    }
  }
}