.home__header {
  @include flex-center;
  .container {
    height: 100vh;
    display: flex;
    max-width: 1600px;
  }
  .header__photo,
  .header__main {
    margin-top: 20px;
    height: 100%
  }
  .header__photo {
    width: 50vw;
    background-image: url(../../assets/Home-Hero-Image.jpg);
    background-repeat: no-repeat;
    background-position: 105%;

  }
  .header__main {
    width: 50vw;
    .home__nav {
      height: 10vh;
      margin-right: 5vw;
    }
    .header__intro {
      height: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 500px;
    }
    .header__tag-line {
      color: $gray-dark;
      text-align: center;
      font-size: 1.5rem;
      p {
        padding-top: 15px;
      }
    }
    .intro__decoration {
      height: 25px;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../../assets/Decoration.svg);
      padding: 15px 0 30px 0;
      background-size: 40%;
    }
    .header__links {
      display: flex;
      justify-content: space-around;
      .header__link {
        color: $gray-dark;
        font-weight: 300;
        text-decoration: none;
        border: 1px solid $gray-regular;
        text-transform: uppercase;
        font-size: 1.5rem;
        line-height: 1.85rem;
        padding: 10px 25px;
        display: block;
        text-align: center;
        max-width: 150px;
        &:last-of-type {
          margin-left: 25px;
        }
      }
    }
  }
}
