// 
.nav__donate {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 25px;
  p, a {
    padding: 10px 10px;
  }
  a {
    margin-left: 25px;
    &:first-of-type {
      border: 1px solid $yellow;
    }
    &:last-of-type {
      color: $gray-regular;
    }
  }
}